.grid-container {
    margin: 0;
    padding: 0;
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 20vh 1fr 20vh;
    grid-template-columns: .7fr 3.3fr ;
    grid-template-areas: "header header"
                         "aside list-film"
                         "footer footer";
}
header {
    background-color: red;
    grid-area: header;
}
aside {
    background-color: green;
    grid-area: aside;
}
main {
    background-color: yellow;
    grid-area: list-film;
}
footer {
    background-color: blue;
    grid-area: footer;
}
.list-film {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
}
